@using IdentityStore.Core.Mailing
@model IdentityStore.Core.Mailing.Implementation.ViewModels.AuditProfileViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

@Include("Head", Model.MailInfo, typeof(MailInfo))

<body>
    <table class="table-mail-container" align="center" width="600" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td vAlign="top" rowspan="1" colspan="1">
                    <table class="table-mail-content" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    @Include("MailHeader")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" class="table-mail-body">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <!-- Header -->
                                                    <table align="center" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: center;">
                                                                    <p class="mail-title">Glückwunsch!</p>
                                                                    <p class="mail-subtitle">Dein neues SD Worx-Konto wurde erstellt</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Action -->
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="border-secondary">
                                                                    <p class="text-secondary">
                                                                        <strong>Ab jetzt kannst Du Dich mit:</strong>
                                                                    </p>
                                                                    <ul>
                                                                        <li class="text-secondary"><span class="blurrable">@Model.EmailAddress</span></li>
                                                                        <li>das von Ihnen gewählte Passwort</li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>

                                                                <td class="border-padding">
                                                                    <p>
                                                                        <strong>Deine Daten:</strong>
                                                                    </p>
                                                                    <ul class="mail-unordered-list">
                                                                        <li>Vorname: <span class="blurrable">@Model.Firstname</span></li>
                                                                        <li>Nachname: <span class="blurrable">@Model.Lastname</span></li>
                                                                        <li>Geburtsdatum: <span class="blurrable">@Model.DateOfBirth</span></li>
                                                                        <li>E-Mail-Adresse: <span class="blurrable">@Model.EmailAddress</span></li>
                                                                        @if (Model.HasMobileNumber())
                                                                        {
                                                                            <li>Mobiltelefon: <span class="blurrable">+@Model.MobileNumberPrefix@Model.MobileNumber</span></li>
                                                                        }
                                                                        @if (Model.HasRecoveryEmailAddresses())
                                                                        {
                                                                            <li>
                                                                                E-Mail-Adressen für Wiederherstellung (nicht zum einloggen verwendbar):
                                                                                <ul>
                                                                                    @foreach (var recoveryEmailAddress in Model.RecoveryEmailAddresses)
                                                                                    {
                                                                                        <li><span class="blurrable">@recoveryEmailAddress</span></li>
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <p>Wenn Deine Daten nicht korrekt sind, ändere sie auf der Konto-Seite.</p>

                                                    @Include("MailGreeting", "de", typeof(string))
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td vAlign="top" rowspan="1" colspan="1">
                    <table class="table-mail-footer" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    @Include("MailFooter", "DE", typeof(string))
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
