@using IdentityStore.Core.Mailing
@model IdentityStore.Core.Mailing.Implementation.ViewModels.DateOfBirthCorrectedViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

@Include("Head", Model.MailInfo, typeof(MailInfo))

<body>
    <table class="table-mail-container" align="center" width="600" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td vAlign="top" rowspan="1" colspan="1">
                    <table class="table-mail-content" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    @Include("MailHeader")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" class="table-mail-body">
                                        <tbody>
                                            <tr>
                                                <td>

                                                    <!-- Header -->
                                                    <table align="center" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: center;">
                                                                    <p class="mail-title">Das Geburtsdatum in Ihrem Konto wurde geändert</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p>Sehr geehrter <span class="blurrable">@Model.MailInfo.Firstname @Model.MailInfo.Lastname</span>,</p>

                                                    <p>Bei der Überprüfung unserer Daten haben wir festgestellt, dass das Geburtsdatum, das Sie in Ihrem SD Worx-Konto angegeben haben, wahrscheinlich nicht richtig war. Darum haben wir dieses automatisch auf der Grundlage der Informationen Ihres Arbeitgebers angepasst. Wir verwenden Ihr Geburtsdatum, um eine zusätzliche Überprüfung Ihrer Identität durchzuführen, und es ist daher wichtig, dass dieses korrekt ist. Zudem ist SD Worx auch gesetzlich verpflichtet, Ihre Daten korrekt und auf dem neuesten Stand zu halten.</p>

                                                    <p>Ihr Geburtsdatum ist jetzt <span class="blurrable">@Model.NewDateOfBirth</span>.</p>
                                                    
                                                    <p>Sie können Ihre Kontodaten bei SD Worx jederzeit über <a href="@Model.PortalProfileUrl" target="_blank">Mein Konto</a> einsehen und ändern.</p>

                                                    <p>Wenn diese Änderung Ihrer Meinung nach nicht richtig ist, wenden Sie sich bitte an Ihren Arbeitgeber.</p>

                                                    @Include("MailGreeting", "de", typeof(string))
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td vAlign="top" rowspan="1" colspan="1">
                    <table class="table-mail-footer" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    @Include("MailFooter", "DE", typeof(string))
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
