@using IdentityStore.Core.Mailing
@model IdentityStore.Core.Mailing.Implementation.ViewModels.PasswordForgottenViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

@Include("Head", @Model.MailInfo, typeof(MailInfo))

<body>
    <p>Dear @Model.MailInfo.Firstname @Model.MailInfo.Lastname,</p>

    <p>Click the following link to choose a new password: @Model.PasswordForgottenUrl</p>

    @Include("MailGreeting", "en", typeof(string))
</body>
</html>

<CustomText>
    Dear @Model.MailInfo.Firstname @Model.MailInfo.Lastname,

    Use the following url to choose a new password: @Model.PasswordForgottenUrl

    Kind regards,
    The SD Worx Team
</CustomText> 