@using System
@using System.Linq
@using RazorEngine.Mailing.Library
@using RazorEngine.Mailing.Library.Models

@inherits RazorEngineCore.RazorEngineTemplateBase<RazorEngine.Mailing.Library.Models.InvitationViewModel>

@{
    Layout = "layout";
}


<!-- Header -->
<table align="center" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p class="mail-title">Vous avez été invité à utiliser <span class="blurrable">@Model.ApplicationScope</span></p>
            </td>
        </tr>
    </tbody>
</table>

<div class="horizontal-divider-whitespace">&nbsp;</div>

<!-- Salutation -->
<p>Bonjour <span class="blurrable ">@Model.MailInfo.Firstname @Model.MailInfo.Lastname</span>,</p>

<!-- Action -->
<p>
    <span class="blurrable bold">@Model.AccountOfficialName</span> vous invite à utiliser <span class="blurrable bold">@Model.ApplicationScope</span> par SD Worx.<br />
</p>

<!-- Employee Profile Info -->
<table class="table-mail-highlight" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="padding: 15px;">
                <div style="margin-bottom: 10px;">
                    <span class="blurrable">@Model.AccountOfficialName</span> nous a fourni les informations suivantes :
                </div>

                <table class="table-mail-form" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="first">Prénom :</td>
                            <td><span class="blurrable">@Model.MailInfo.Firstname</span></td>
                        </tr>
                        <tr>
                            <td class="first">Nom :</td>
                            <td><span class="blurrable">@Model.MailInfo.Lastname</span></td>
                        </tr>
                    </tbody>
                </table>

                <div style="margin-top: 10px;">
                    <span class="small">Les informations ne sont pas correctes ? N'acceptez pas cette invitation et contactez votre employeur.</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- Call to Action -->
<br />
<table align="center" class="table-primary-action" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="text-align: center">
            <a style="text-decoration: none;" class="primary-action" href="@Model.Url" target="_blank">
                <span>Accepter l'invitation</span>
            </a>
        </td>
    </tr>
</table>
<br />

<!-- How to proceed -->
<p>
    Marche à suivre :
</p>

<ol class="mail-ordered-list">
    <li>Cliquez sur le bouton « Accepter l'invitation » ci-dessus.</li>
    <li>Connectez-vous avec votre compte SD Worx personnel ou inscrivez-vous si vous n'avez pas encore de compte.</li>
    <li>Vous pourrez ensuite accepter l'invitation et utiliser <span class="blurrable">@Model.ApplicationScope</span> pour <span class="blurrable">@Model.AccountOfficialName</span>.</li>
</ol>

<CustomText>
    Bonjour @Model.MailInfo.Firstname @Model.MailInfo.Lastname,

    @Model.AccountOfficialName vous invite à utiliser @Model.ApplicationScope par SD Worx.

    @Model.AccountOfficialName nous a fourni les informations suivantes :

    - Prénom : @Model.MailInfo.Firstname
    - Nom : @Model.MailInfo.Lastname

    Les informations ne sont pas correctes ? N'acceptez pas cette invitation et contactez votre employeur.

    - Accepter l'invitation : @Model.Url

    Marche à suivre :

    1. Utilisez le « Accepter l'invitation » lien ci-dessus.
    2. Connectez-vous avec votre compte SD Worx personnel ou inscrivez-vous si vous n'avez pas encore de compte.
    3. Vous pourrez ensuite accepter l'invitation et utiliser @Model.ApplicationScope pour @Model.AccountOfficialName.

    Cordialement,
    L'équipe de SD Worx
</CustomText>