@using System
@using System.Linq
@using RazorEngine.Mailing.Library
@using RazorEngine.Mailing.Library.Models

@inherits RazorEngineCore.RazorEngineTemplateBase<RazorEngine.Mailing.Library.Models.InvitationViewModel>

@{
    Layout = "layout";
}

@{
    var applicationInfoCustomText = "";
    var applicationInfoHtml = "";
    var mailTitle = "";

    if (@Model.Applications.Count == 0)
    {
        mailTitle = "You've been invited to use <span class=\"blurrable\">" + @Model.ApplicationScope + "</span>";
        applicationInfoCustomText = @Model.ApplicationScope + " by SD Worx.";
        applicationInfoHtml = "<span class=\"blurrable bold\">" + Model.ApplicationScope + " by SD Worx.</span>";
    }
    else if (@Model.Applications.Count == 1)
    {
        mailTitle = "You've been invited to use <span class=\"blurrable\">" + @Model.Applications.FirstOrDefault() + "</span>";
        applicationInfoCustomText = "the application " + @Model.Applications.FirstOrDefault() + " in " + @Model.ApplicationScope + ".";
        applicationInfoHtml = "<span>the application </span>";
        applicationInfoHtml += "<span class=\"blurrable bold\">" + @Model.Applications.FirstOrDefault() + "</span>";
        applicationInfoHtml += "<span> in </span>";
        applicationInfoHtml += "<span class=\"blurrable bold\">" + @Model.ApplicationScope + "</span>.";
    }
    else
    {
        mailTitle = "You've been invited to use new applications";
        applicationInfoCustomText = "the applications ";
        applicationInfoHtml = "<span> the applications </span>";

        applicationInfoCustomText += Extensions.WriteOutApplicationListCustomText(Model.Applications, "en");
        applicationInfoHtml += Extensions.WriteOutApplicationListHtml(Model.Applications, "en");

        applicationInfoCustomText += " in " + Model.ApplicationScope + ".";
        applicationInfoHtml += " in " + "<span class=\"blurrable bold\">" + Model.ApplicationScope + "</span>.";
    }
}

Bonjour @Model.MailInfo.Firstname @Model.MailInfo.Lastname,

@Model.AccountOfficialName vous invite à utiliser @applicationInfoCustomText

@Model.AccountOfficialName nous a fourni les informations suivantes :

- Prénom : @Model.MailInfo.Firstname
- Nom : @Model.MailInfo.Lastname

Les informations ne sont pas correctes ? N'acceptez pas cette invitation et contactez votre employeur.

- Accepter l'invitation : @Model.Url

Marche à suivre :

1. Utilisez le « Accepter l'invitation » lien ci-dessus.
2. Connectez-vous avec votre compte SD Worx personnel ou inscrivez-vous si vous n'avez pas encore de compte.
3. Vous pourrez ensuite accepter l'invitation et utiliser @Model.ApplicationScope pour @Model.AccountOfficialName.

Cordialement,
L'équipe de SD Worx
